/* all pages */

html {
    /* Set min-height to 100% to make sure 
    the footer sticks to the bottom */
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    font-family: Helvetica;
    /* footer height is 150px */
    margin: 0 0 150px;
    padding-bottom: 25px;
}

footer {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 150px;
   padding-top: 10px;
   background-color: #393a4c;
   color: white;
   margin-top: 50px;
   z-index: 2;
}

.footer-links {
    margin-top: 1em;
}

.footer-link {
    color: white;
    transition: 0.5s;
}

.footer-link:hover {
    color: #FFA400;
    text-decoration: none;
}

.container-grey {
    background-color: #cccccc99;
}

img {
    align-content: center;
    width: 400px;
    max-width: 100%;
    height: 220px;
    max-height: inherit;
}

.btn {
    background-color: #0875c3;
    width: 272px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-cancel-button {
    width: 272px;
}

.cancel-button {
    background-color: red;
}

.cancel-button a {
    color: white;
}

/* base.html */

/********** navbar *****************/

.title-image {
    height: 3em;
    width: auto;
}

.navbar {
    background-color: #393a4c;
    color: white;
}
 
@media only screen and (max-width: 991px) {
    nav {
        height: 80px;
    }
    .title-image {
        display: none;
    }
}

@media only screen and (max-width: 601px) {
    nav {
    height: 72px;
    }
}

.navbar-brand {
    color: white;
    font-size: 2.5em;
}

/* Set this media query so the nav links drop down straight
under title. Set min-width so toggler doesn't dissapear on
extremely small screens */
@media only screen and (min-width: 333px) and (max-width: 991px) {
    .navbar-dark .navbar-brand {
    margin-left: 60px;
    }
}


.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-dark .navbar-toggler:focus {
    background-color: #757690;
}

@media only screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
    display: contents!important;
    }
}

.navbar-collapse {
    align-items: center;
    margin-left: -12px;
    margin-right: -12px;
    color: white;
    z-index: 2;
    text-align: center;
    background-color: #393a4c;
}

@media only screen and (max-width: 991px) {
    .nav-item {
    border-top: 2px solid white;
    z-index: 2;
    }
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #FFA400;
    background-color: #404258;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-bottom: 0;
    width: 150px;
    }
}

/* index.html */

.homepage-images {
    margin-top: 5%;
}

.home-title {
    text-align: center;
    margin-top: 1em;
    color: #005bff;
}

.home-intro {
    text-align: center;
    font-size: 1.3em;
    color: #FFA400;
}

@media (min-width: 768px) {
    .home-intro {
    margin-top: 2em;
    }
}

.homepage-column {
    margin-top: 1em;
    margin-bottom: 1em;
}

.homepage-column-body {
    text-align: center;
    height: 100%;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 1em;
    padding: 1em;
}

img.responsive-img {
    max-width: 75%;
    height: auto;
}

@media screen and (min-width: 1200px) {
    .col-lg-4 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    }
}

/* exercises.html */

.btn-add {
    background-color: #393a4c;
    width: 272px;
}

.filter-button {
    width: 140px;

}

.exercises-container {
    border: 1px #393a4c ridge;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* viewexercise.html */

.image-view {
    width: 600px;
    height: auto;
    max-width: 90%;
    margin-bottom: 20px;
}

/* statistics */

.statistics-title {
    text-align: center;
}

.statistics {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    }
}

.statistics-body {
    text-align: center;
    height: 100%;
    color: #FFA400;
    background-color: white;
    border: 1px solid white;
    border-radius: 6em;
    margin-bottom: 1em;
    padding: 1em;
}

.statistics h5 {
    color:black;
}

.fo-icon {
    color: #005bff;
    font-size: 5em;
    margin-top: 1rem;
}


/* About */

.about {
    text-align: center;
}

.about-description {
    color: #005bff;
    margin: 1em;
    font-size: 1.3em;
}

.about-image {
    width: 350px;
    max-width: 100%;
    height: 200px;
    max-height: auto;
}

.sponsors p {
    font-size: 1.3em;
}

.sponsors a {
    color: #FFA400;
    text-decoration: underline;
    transition: 0.5s;
}

.sponsors a:hover {
    color: #005bff;
    text-decoration: none;
}