nav .nav-wrapper {
    background-color: #393a4c;
}

nav .brand-logo {
    left: 20%;
}

/* @media only screen and (max-width: 492px) {
    display: none;
} */

.homepage-container {
    position: relative;
    text-align: center;
    color: white;
    padding: 20px;
}

.caption {
    color: #393a4c;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}

img {    
    width: 400px;
    height: 220px;
    max-width: 90%;
    max-height: auto;
    align: center;
    margin-bottom: 90px;
    border: 1px solid #393a4c;
}

.btn {
    background-color: #0875c3;
    width: 272px;
}

.btn-add {
    background-color: #393a4c;
    width: 272px;
}

.statistics {
    text-align: center;
}

.add-cancel-button {
    width: 272px;
}

.add-cancel-button .cancel-button {
    background-color: red;
}

.add-cancel-button .cancel-button a {
    color: white;
}

.page-footer {
    position: fixed;
    padding-top: 0;
    padding-bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #393a4c;
    z-index: 1;
}

.page-footer .footer-copyright {
    min-height: 0;
    padding-top: 0;
}

.empty-container {
    height: 200px;
}