{% extends 'base.html' %}
{% block content %}
    <h1>About PoolDrillz</h1>
    <p>I started PoolDrillz as a project for all pool players. In my opinion, there is stucture missing when learning how to play pool.
    There is no clear path to becoming a better player. With PoolDrillz, I hope to make it easier for pool players of any level to find the right
    exercises and to create a community of players and trainers. If you have any suggestions, feedback, questions, or want to collaborate with me, 
    please e-mail me at ivarsaris@gmail.com</p>
{% endblock %}