{% extends 'base.html' %}
{% block content %}
<h1>Add your own exercise</h1>

<div class="row">
	<form action="{{ url_for('submit_exercise') }}" method='POST' enctype="multipart/form-data" class="col s12 col m8">
		<div class="row">
			<div class="input-field col s12">
				<input id="name" name="name" type="text" class="validate">
				<label for="name">Exercise name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="description" name="description" class="materialize-textarea"></textarea>
				<label for="description">Exercise description</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<select id="type_of_exercise" name="type_of_exercise" multiple>
                    <option value="" disabled selected>Choose option(s)</option>
                    <option value="Technique">Technique</option>
                    <option value="Cue ball control">Cue ball control</option>
                    <option value="Potting ability">Potting ability</option>
                    <option value="Concentration">Concentration</option>
                    <option value="Safeties">Safeties</option>
                    <option value="Kicks">Kicks</option>
                    <option value="Banks">Banks</option>
                    <option value="8-ball">8-ball</option>
                    <option value="9-ball">9-ball</option>
                    <option value="10-ball">10-ball</option>
                    <option value="Straight pool">Straight pool</option>
                    <option value="Special skills">Special skills</option>
                </select>
				<label>Type of exercise</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<select id="skill_level" name="skill_level">
                    <option value="" disabled selected>Choose option</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Intermediate/Experienced">Intermediate/Experienced</option>
                    <option value="Experienced">Experienced</option>
                    <option value="Professional">Professional</option>
                </select>
				<label>Difficulty level</label>
			</div>
		</div>
		<div class="row">
			<div class="file-field input-field">
                <div class="btn waves-effect waves-light">
                    Upload Image
                    <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
		<div class="row">
			<div class="input-field col s12">
				<input id="date_added" name="date_added" type="text" class="validate">
				<label for="date_added">Date(DD.MM.YYYY)</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="exercise_added_by" name="exercise_added_by" type="text" class="validate">
				<label for="exercise_added_by">Your name</label>
			</div>
		</div>
		<div class="row">
			<div>
				<button class="btn waves-effect waves-light" type="submit">Add exercise to database
                  <i class="material-icons right">send</i>
                </button>
			</div>
		</div>
	</form>
</div>
{% endblock %}