{% extends 'base.html' %}
{% block content %}
<h1>Edit exercise</h1>

<div class="row">
	<form action="{{ url_for('update_exercise', exercise_id=exercise._id) }}" enctype="multipart/form-data" method='POST' class="col s12 col m8">
		<div class="row">
			<div class="input-field col s12" >
				<input id="name" name="name" type="text" class="validate" value="{{exercise.name}}">
				<label for="name">Exercise name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="description" name="description" class="materialize-textarea" value="{{exercise.description}}">{{exercise.description}}</textarea>
				<label for="description">Exercise description</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<select id="type_of_exercise" name="type_of_exercise" value="{{exercise.type_of_exercise}}" multiple>
                    <option value="" disabled selected>{{exercise.type_of_exercise}}</option>
                    <option value="Technique">Technique</option>
                    <option value="Cue ball control">Cue ball control</option>
                    <option value="Potting ability">Potting ability</option>
                    <option value="Concentration">Concentration</option>
                    <option value="Safeties">Safeties</option>
                    <option value="Kicks">Kicks</option>
                    <option value="Banks">Banks</option>
                    <option value="8-ball">8-ball</option>
                    <option value="9-ball">9-ball</option>
                    <option value="10-ball">10-ball</option>
                    <option value="Straight pool">Straight pool</option>
                    <option value="Special skills">Special skills</option>
                </select>
				<label>Type of exercise</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<select id="skill_level" name="skill_level" value="{{exercise.skill_level}}">
                    <option value="" disabled selected>{{exercise.skill_level}}</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Intermediate/Experienced">Intermediate/Experienced</option>
                    <option value="Experienced">Experienced</option>
                    <option value="Professional">Professional</option>
                </select>
				<label>Difficulty level</label>
			</div>
		</div>
		<div class="row">
			<div class="file-field input-field">
                <div class="btn waves-effect waves-light">
                    Upload Image<i class="material-icons right">file_upload</i>
                    <input type="file" name="image" value="{{exercise.image}}">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
				<div class="row">
					<div class="input-field col s12">
						<input id="date_added" name="date_added" type="text" class="validate" value="{{exercise.date_added}}">
						<label for="date_added">Date(DD.MM.YYYY)</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="exercise_added_by" name="exercise_added_by" type="text" class="validate" value="{{exercise.exercise_added_by}}">
						<label for="exercise_added_by">Exercise added by</label>
					</div>
				</div>
				<div class="row col s12 col m6 add-cancel-button">
					<div>
						<button class="btn waves-effect waves-light" type="submit">Update {{exercise.name}}
                  <i class="material-icons right">update</i></button>
					</div>
				</div>
				<div class="row col s12 col m6 add-cancel-button">
					<div>
						<div class="btn waves-effect waves-light cancel-button"><a href={{ url_for('exercises') }}>Cancel update<i class="material-icons right">cancel</i></a></div>
					</div>
				</div>
	</form>
	<div class="col s12">
		<h3>Danger Zone!</h3>
		<!-- pop up message to confirm deleting exercise from the database -->
		<a href="{{url_for('delete_exercise', exercise_id=exercise._id)}}" title="delete"
			class="delete waves-effect waves-light btn red"
			onclick="return confirm('Are you sure you want to delete this exercise from the database?')">Delete
			exercise<i class="material-icons right">delete_forever</i></a>
	</div>
</div>

<script>
exercise = {{exercise.pop("id") | tojson}}
console.log(exercise)
var x = document.getElementById("type_of_exercise");
    if (x) {
        x = document.getElementById("type_of_exercise")
        console.log(x)
        for(var i=0;i<x.length;i++){
            console.log(x[i].text in exercise.type_of_exercise)
            if(x[i].text in exercise.type_of_exercise){
                x[i].selected=true;
    }
    }
    }
    </script>
{% endblock %}