{% extends 'base.html' %}
{% block content %}
<h1>Edit exercise</h1>

<div class="row">
	<form action="{{ url_for('update_exercise', exercise_id=exercise._id) }}" method='POST' class="col s12 col m8">
		<div class="row">
			<div class="input-field col s12">
				<input id="name" name="name" type="text" class="validate" value="{{exercise.name}}">
				<label for="name">Exercise name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="description" name="description" class="materialize-textarea">{{exercise.description}}</textarea>
				<label for="description">Exercise description</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<select id="type_of_exercise" name="type_of_exercise" multiple>
                    <option value="" disabled selected>{{exercise.type_of_exercise}}</option>
                    <option value="Technique">Technique</option>
                    <option value="Cue ball control">Cue ball control</option>
                    <option value="Potting ability">Potting ability</option>
                    <option value="Concentration">Concentration</option>
                    <option value="Safeties">Safeties</option>
                    <option value="Kicks">Kicks</option>
                    <option value="Banks">Banks</option>
                    <option value="8-ball">8-ball</option>
                    <option value="9-ball">9-ball</option>
                    <option value="10-ball">10-ball</option>
                    <option value="Straight pool">Straight pool</option>
                    <option value="Special skills">Special skills</option>
                </select>
				<label>Type of exercise</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<select id="skill_level" name="skill_level">
                    <option value="" disabled selected>{{exercise.skill_level}}</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Intermediate/Experienced">Intermediate/Experienced</option>
                    <option value="Experienced">Experienced</option>
                    <option value="Professional">Professional</option>
                </select>
				<label>Difficulty level</label>
			</div>
		</div>
		<div class="row">
			<div class="file-field input-field">
				<div class="btn">
					<span>File</span>
					<input type="file">
                </div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text" placeholder='Upload exercise picture'>
                </div>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="exercise_added_by" name="exercise_added_by" type="text" class="validate" value="{{exercise.exercise_added_by}}">
						<label for="exercise_added_by">Exercise added by</label>
					</div>
				</div>
				<div class="row">
					<div>
						<button class="btn waves-effect waves-light" type="submit" name="action">Edit this exercise
                    <i class="material-icons right">send</i>
                </button>
					</div>
				</div>
	</form>
	<div class="col s12">
		<h3>Danger Zone!</h3>
		<a href="{{url_for('delete_exercise', exercise_id=exercise._id)}}" class="waves-effect waves-light btn red">Delete
			exercise</a>
	</div>

</div>
{% endblock %}