{% extends 'base.html' %}
{% block content %}

<h1>Exercises</h1>

<h4>Add your own exercise to the database</h4>
<a href={{ url_for('add') }} class="waves-effect waves-light btn">Add exercise</a>

{% for exercise in exercises %}
<div class="col s12 col m6">
	<h5>{{exercise.name}}</h5>
	<h6><strong>Type of exercise</strong></h6> {{exercise.type_of_exercise}}
	<h6><strong>Skill level</strong></h6> {{exercise.skill_level}}
	<div class="row">
		<a href="{{url_for('view_exercise', exercise_id=exercise._id)}}" class="waves-effect waves-light btn">View whole
			exercise</a>
	</div>
</div>
{% endfor %}

{% endblock %}