
img {
    border: 1px #393a4c;
    width: 60%;
    height: auto;
}

nav .nav-wrapper {
    background-color: #393a4c;
}

nav .brand-logo {
    left: 20%;
}

@media only screen and (max-width: 492px) {
    display: none;
}

.slider {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 90px;
    border: 1px solid #393a4c;
}

.slider .slides {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.slider .slides img {
    position: absolute;
    width: 100%;
    height: auto;
}

.slider .slides li .caption {
    color: #393a4c;
}

.btn {
    background-color: #0875c3;
    width: 272px;
}

.btn-add {
    background-color: #393a4c;
    width: 272px;
}

.statistics {
    text-align: center;
}

.add-cancel-button {
    width: 272px;
}

.add-cancel-button .cancel-button {
    background-color: red;
}

.add-cancel-button .cancel-button a {
    color: white;
}

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #393a4c;
    z-index: 1;
}

.page-footer .footer-copyright {
    min-height: 0;
    padding-top: 0;
}

.empty-container {
    height: 200px;
}