{% extends 'base.html' %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col s12 about">
                <h1>About PoolDrillz</h1>
                <p>I started PoolDrillz as a project for all pool players. In my opinion, there is structure missing when learning how to play pool. There is no clear path to becoming a better player. With PoolDrillz, I hope to make it easier for pool players of any level to find the right exercises and to create a community of players and trainers. If you have any suggestions, feedback, questions, or would like to collaborate with me, please e-mail me at ivarsaris@gmail.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 sponsors">
                <div>
                    <p>Please have a look at the organizations that support me. They have a lot of heart for the game.</p>
                </div>
                <div class="col s12 m6 l4">
                    <img class="responsive-img about-image" src="/static/images/woensel.jpg" alt="SPC Woensel">
                    <div class="caption">
                        <a href="https://spcwoensel.nl/" target=blank>
                            <p>Snooker&Poolcentrum Woensel</p>
                        </a>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <img class="responsive-img about-image" src="/static/images/how.jpg" alt="HOW professional tips">
                    <div class="caption">
                        <a href="http://www.how-brand.com/index.html#home" target=blank>
                            <p>HOW professional tips</p>
                        </a>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <img class="responsive-img about-image" src="/static/images/sure.jpg" alt="Sure custom cues">
                    <div class="caption">
                        <a href="https://www.facebook.com/SureCustomCues/" target=blank>
                            <p>Sure custom cues</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}