<!DOCTYPE html>
<html lang="en">

<head>
	<title>PoolDrillz - {% block title %} {% endblock %}</title>
	<!-- bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Favicon -->
	<link href="{{url_for('static', filename='images/oefening.jpg')}}" rel="shortcut icon" type="image/x-icon" />
	<!--Import materialize.css-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<!-- keeping old materialize css locally, otherwise checkboxes don't work -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" />
	<!-- own css -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- bootstrap JavaScript -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
</head>

<body>
	<nav class="navbar navbar-dark navbar-expand-lg">
		<div class="container">
            <img class="title-image" src="/static/images/oefening.jpg" alt="exercise image">&nbsp;
			<a href={{ url_for( 'index') }} class="navbar-brand">PoolDrillz</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href={{ url_for( 'exercises') }}>Exercises</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href={{ url_for( 'stats') }}>Statistics</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href={{ url_for( 'about') }}>About us</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- content to be copied on all pages -->
	{% block content %}
	{% endblock %}
	<!-- empty container keeps content from being displayed behind the footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col s6 l6">
					<h5 class="white-text">PoolDrillz</h5>
					<p class="grey-text text-lighten-4">Created as a non profit project.</p>
					<div class="footer-copyright">
						<div>
							© 2019 Ivar Saris
						</div>
					</div>
				</div>
				<div class="col s6  l4 offset-l2">
					<ul>
						<li><a class="grey-text text-lighten-3" href={{ url_for( 'index') }}>Home</a></li>
						<li><a class="grey-text text-lighten-3" href={{ url_for( 'exercises') }}>Exercises</a></li>
						<li><a class="grey-text text-lighten-3" href={{ url_for( 'stats') }}>Statistics</a></li>
						<li><a class="grey-text text-lighten-3" href={{ url_for( 'about') }}>About us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>


<!-- jquery CDN -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>
<!-- Materialize javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<!--jQuery to initialize select element in form, autoinit to initialize checkboxes -->
<script>
	$(document).ready(function() {
        $('select').material_select();
        M.AutoInit();
    });
</script>

</html>