{% extends 'base.html' %}
{% block title %} Edit {{ exercise.name }} {% endblock %}
{% block content %}

<div class="container-white">
	<div class="container">
		<div class="row">
			<div class="col-12 title">
				<h2>Edit {{exercise.name}}</h2>
			</div>
		</div>
	</div>
</div>
<div class="container-grey">
	<div class="container">
		<div class="row">
			<div class="col-12 add-exercise-form">
				<form action="{{ url_for('update_exercise', exercise_id=exercise._id) }}" enctype="multipart/form-data"
					method='POST'>
					<div class="row">
						<!-- name as input because it's a short text -->
						<div class="col-12 input-field">
							<input id="name" name="name" type="text" class="validate" value="{{exercise.name}}">
							<label for="name">Exercise name</label>
						</div>
					</div>
					<div class="row">
						<!-- description as text area because user might need to give a long explanation -->
						<div class="col-12 input-field">
							<textarea id="description" name="description" class="materialize-textarea" value="{{exercise.description}}">{{exercise.description}}</textarea>
							<label for="description">Exercise description</label>
						</div>
					</div>
					<div class="row">
						<p class='exercise-type-lable'>Type(s) of exercise, select option(s)</p>
					</div>
					<div class="row">
						<!-- types of exercise as checkbox. Each checed checkbox sends this value to the database, all selected values are stored as array-->
						<div class="col-6 col-md-4 col-lg-3 type-checkbox">
							<input type="checkbox" name="type_of_exercise" id="Technique" value="Technique"
                            {% if 'Technique' in exercise.type_of_exercise %}checked {% endif %}/>
							<label class="form-check-label" for="Technique">Technique</label>
						</div>
						<div class="col-6 col-md-4 col-lg-3 type-checkbox">
							<input type="checkbox" name="type_of_exercise" id="Cue-ball-control" value="Cue ball control"
                            {% if 'Cue ball control' in exercise.type_of_exercise %}checked {% endif %}/>
							<label class="form-check-label" for="Cue-ball-control">Cue ball control</label>
						</div>
						<div class="col-6 col-md-4 col-lg-3 type-checkbox">
							<input type="checkbox" name="type_of_exercise" id="Potting-ability" value="Potting ability"
                            {% if 'Potting ability' in exercise.type_of_exercise %}checked {% endif %}/>
							<label class="form-check-label" for="Potting-ability">Potting ability</label>
						</div>
						<div class="col-6 col-md-4 col-lg-3 type-checkbox">
							<input type="checkbox" name="type_of_exercise" id="Concentration" value="Concentration"
                            {% if 'Concentration' in exercise.type_of_exercise %}checked {% endif %}/>
							<label class="form-check-label" for="Concentration">Concentration</label>
						</div>
						<div class="col-6 col-md-4 col-lg-3 type-checkbox">
							<input type="checkbox" name="type_of_exercise" id="Safeties" value="Safeties"
                            {% if 'Safeties' in exercise.type_of_exercise %}checked {% endif %}/>
							<label class="form-check-label" for="Safeties">Safeties</label>
						</div>
						<div class="col-6 col-md-4 col-lg-3 type-checkbox">
							<input type="checkbox" name="type_of_exercise" id="Kicks" value="Kicks"
                            {% if 'Kicks' in exercise.type_of_exercise %}checked {% endif %}/>
							<label class="form-check-label" for="Kicks">Kicks</label>
						</div>
						<div class="col-6 col-md-4 col-lg-3 type-checkbox">
							<input type="checkbox" name="type_of_exercise" id="Banks" value="Banks"
                            {% if 'Banks' in exercise.type_of_exercise %}checked {% endif %}/>
							<label class="form-check-label" for="Banks">Banks</label>
						</div>
						<div class="col-6 col-md-4 col-lg-3 type-checkbox">
							<input type="checkbox" name="type_of_exercise" id="8-ball" value="8-ball"
                            {% if '8-ball' in exercise.type_of_exercise %}checked {% endif %}/>
							<label class="form-check-label" for="8-ball">8-ball</label>
						</div>
						<div class="col-6 col-md-4 col-lg-3 type-checkbox">
							<input type="checkbox" name="type_of_exercise" id="9-ball" value="9-ball"
                            {% if '9-ball' in exercise.type_of_exercise %}checked {% endif %}/>
							<label class="form-check-label" for="9-ball">9-ball</label>
						</div>
						<div class="col-6 col-md-4 col-lg-3 type-checkbox">
							<input type="checkbox" name="type_of_exercise" id="10-ball" value="10-ball"
                            {% if '10-ball' in exercise.type_of_exercise %}checked {% endif %}/>
							<label class="form-check-label" for="10-ball">10-ball</label>
						</div>
						<div class="col-6 col-md-4 col-lg-3 type-checkbox">
							<input type="checkbox" name="type_of_exercise" id="Straight-pool" value="Straight pool"
                            {% if 'Straight pool' in exercise.type_of_exercise %}checked {% endif %}/>
							<label class="form-check-label" for="Straight-pool">Straight pool</label>
						</div>
						<div class="col-6 col-md-4 col-lg-3 type-checkbox">
							<input type="checkbox" name="type_of_exercise" id="Special-skills" value="Special skills"
                            {% if 'Special skills' in exercise.type_of_exercise %}checked {% endif %}/>
							<label class="form-check-label" for="Special-skills">Special skills</label>
						</div>
					</div>
					<div class="row">
						<!-- each skill level has if statement, if this value is in database, it's selected -->
						<div class="col-12 input-field">
							<select id="skill_level" name="skill_level" value="{{exercise.skill_level}}">
                                <option value="Beginner" {% if exercise.skill_level=='beginner' %} selected {%endif%}>Beginner</option>
                                <option value="Intermediate" {% if exercise.skill_level=='Intermediate' %} selected {%endif%}>Intermediate</option>
                                <option value="Intermediate/Experienced" {% if exercise.skill_level=='Intermediate/Experienced' %} selected {%endif%}>Intermediate/Experienced</option>
                                <option value="Experienced" {% if exercise.skill_level=='Experienced' %} selected {%endif%}>Experienced</option>
                                <option value="Professional" {% if exercise.skill_level=='Professional' %} selected {%endif%}>Professional</option>
                            </select>
							<label>Difficulty level</label>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							{% if exercise.image %}
							    <img class="small-img" src="{{exercise.image}}" alt="Exercise layout displayed on table">
                            {% else %}
							    <img class="small-img" src="/static/images/noimage.jpg" alt="no exercise image found">
                            {% endif %}
                        </div>
						<div class="col-12 file-field input-field">
							<div class="waves-effect waves-light btn btn-add upload-image-btn add-exerc-button">
								Change Image<i class="material-icons right">file_upload</i>
								<input type="file" name="image" value="{{exercise.image}}">
                            </div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text">
                            </div>
						</div>
                    </div>
					<div class="row">
                        <div class="col-12 input-field">
                            <input type="date" id="date_added" name="date_added" class="validate" value="{{exercise.date_added}}">
                            <label for="date_added">Date added</label>
                        </div>
						<!-- date added as string notation. In stats page, this number is taken. The highest number is the most
                        recently added exercise. 
						<div class="col-12 input-field">
							<input id="date_added" name="date_added" type="text" class="validate" value="{{exercise.date_added}}">
							<label for="date_added">Date(DD.MM.YYYY)</label>
						</div>
                        -->
					</div>
					<div class="row">
						<div class="col-12 input-field">
							<input id="exercise_added_by" name="exercise_added_by" type="text" class="validate" value="{{exercise.exercise_added_by}}">
							<label for="exercise_added_by">Exercise added by</label>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
						<!-- button submits the exercise with all the changes to the database. -->
							<button class="btn waves-effect waves-light filter-button add-cancel-button add-exerc-button" type="submit">Update {{exercise.name}}
                            <i class="material-icons right">update</i></button>
							<!-- cancel button returns user to exercises.html without submitting the form to the database -->
							<a href={{ url_for( 'exercises' ) }} class="btn waves-effect waves-light filter-button cancel-button add-cancel-button-red add-exerc-button">
							Cancel update<i class="material-icons right">cancel</i></a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container-white">
	<div class="container">
		<div class="row">
			<div class="col-12 delete-exercise">
				<h3>Danger Zone!</h3>
				<!-- pop up message to confirm deleting exercise from the database -->
				<a href="{{url_for('delete_exercise', exercise_id=exercise._id)}}" title="delete"
				class="delete waves-effect waves-light btn delete-exerc-btn"
				onclick="return confirm('Are you sure you want to delete this exercise from the database?')">Delete
				exercise<i class="material-icons right">delete_forever</i></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}