{% extends 'base.html' %}
{% block content %}

<div class="container homepage-container">
	<div class="row">
		<div class="col s12 m6 l4">
			<img class="responsive-img" src="/static/images/oefening.jpg">
			<div class="caption">
				<h5>Our database of exercises is growing and growing</h5>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<img class="responsive-img" src="/static/images/screenshot1.png">>
			<div class="caption">
				<h5>Add exercises yourself</h5>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<img class="responsive-img" src="/static/images/screenshot2.png">
			<div class="caption">
				<h5>Find the right exercise for you</h5>
			</div>
		</div>
	</div>
</div>
{% endblock %}