{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}

<div class="container-grey">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 home-title">
				<h4>Pool billiard exercises platform</h4>
			</div>
			<div class="col-12 col-md-6 home-intro">
				<p>Find exercises to improve your game and share exercises with others by uploading them to our
					database.</p>
			</div>
		</div>
	</div>
</div>
<div class="container-white">
	<div class="container">
		<div class="row homepage-images">
			<div class="col-12 col-md-6 col-lg-4 homepage-column">
				<img class="responsive-img" src="/static/images/oefening.jpg" alt="exercise image">
				<div class="caption">
					<h5>Our database of exercises is growing and growing</h5>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 homepage-column">
				<img class="responsive-img" src="/static/images/screenshot1.png" alt="Screenshot add exercise page">
				<div class="caption">
					<h5>Add exercises yourself</h5>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 homepage-column">
				<img class="responsive-img" src="/static/images/screenshot2.png" alt="Screenshot filter exercises">
				<div class="caption">
					<h5>Find the right exercise for you</h5>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}