{% extends 'base.html' %}
{% block content %}

<div class="container homepage-container">
    <div class="row">
        <div class="col s12">
            <h1>PoolDrillz</h1>
        </div>
    </div>
	<div class="row homepage-images">
		<div class="col s12 m6 l4">
			<img class="responsive-img" src="/static/images/oefening.jpg" alt="exercise image">
			<div class="caption">
				<h5>Our database of exercises is growing and growing</h5>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<img class="responsive-img" src="/static/images/screenshot1.png" alt="Screenshot add exercise page">
			<div class="caption">
				<h5>Add exercises yourself</h5>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<img class="responsive-img" src="/static/images/screenshot2.png" alt="Screenshot filter exercises">
			<div class="caption">
				<h5>Find the right exercise for you</h5>
			</div>
		</div>
	</div>
</div>
{% endblock %}