{% extends 'base.html' %}
{% block title %} Statistics {% endblock %}
{% block content %}

<div class="container-white">
	<div class="container">
		<div class="row">
			<div class="col s12 statistics-title">
				<h1>Statistics</h1>
			</div>
		</div>
	</div>
</div>
<div class="container-grey">
	<div class="container">
		<div class="row">
			<!-- amount_of_exercises and last_added_exerc from stats function -->
			<div class="col-12 col-md-6 statistics">
				<div class="statistics-body">
					<i class="fas fa-list-ol fo-icon"></i>
					<h2><i>{{ amount_of_exercises }}</i></h2>
					<h5>Total number of exercises in PoolDrillz</h5>
				</div>
			</div>
			<div class="col-12 col-md-6 statistics">
				<div class="statistics-body">
					<i class="fas fa-history fo-icon"></i>
					<h2><i>{{ last_aded_exerc.name }}</i></h2>
					<h5>Most recently added exercise</h5>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}