{% extends 'base.html' %}
{% block content %}
<section>
	<div class="container">
    <!-- each part has in if statement to check if the key has a given value.
    If not, a default value is displayed.-->
		<div class="row">
            {% if exercise.name %}
			<h1>{{exercise.name}}</h1>
            {% else %}
            <h1>No exercise name given</h1>
            {% endif %}
			{% if exercise.image %}
			<img class="small-img image-view" src="{{exercise.image}}">
            {% else %}
            <img class="small-img" src="/static/images/noimage.jpg" alt="no exercise image found">
            {% endif %}
			<h5>Exercise description</h5> 
            {% if exercise.description %}
            {{exercise.description}}
            {% else %}
            No exercise description given
            {% endif %}
			<h5>Type of exercise</h5>
            {% if exercise.type_of_exercise %}
            <!-- types of exercise are returned in an array, this function takes 
            the values out of the array and returns them as a list seperated by , -->
            {{', '.join(exercise.type_of_exercise)}}
            {% else %}
            No type of exercise given
            {% endif %}
			<h5>Skill level</h5>
            {% if exercise.skill_level %}
            {{exercise.skill_level}}
            {% else %}
            No skill level given
            {% endif %}
			<h5>Exercise added by</h5>
            {% if exercise.exercise_added_by %}
            {{exercise.exercise_added_by}}
            {% else %}
            Not known who added the exercise
            {% endif %}
        </div>
		<div class="row">
			<div class="row col s12 col m6 add-cancel-button">
				<div>
                <!-- button which links to edit exercise page. All values from this exercise are taken to this page-->
					<a href="{{url_for('edit_exercise', exercise_id=exercise._id)}}"
							class="waves-effect waves-light btn">Edit
							exercise<i class="material-icons right">edit</i></a>
				</div>
			</div>
			<div class="row col s12 col m6 add-cancel-button">
            <!-- button returns user to exercises overview-->
				<div>
					<div class="btn waves-effect waves-light cancel-button"><a href={{ url_for('exercises') }}>Back to exercises<i class="material-icons right">keyboard_return</i></a></div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}